In [ ]:
import numpy as np    # type: ignore
import pandas as pd # type: ignore
import os

import seaborn as sns # type: ignore
import matplotlib.pyplot as plt    # type: ignore # type: ignore
import matplotlib.style # type: ignore
plt.style.use('classic')

import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split,GridSearchCV # type: ignore
from sklearn.linear_model import LogisticRegression # type: ignore
from sklearn.preprocessing import MinMaxScaler,StandardScaler # type: ignore
from sklearn.naive_bayes import GaussianNB # type: ignore
from sklearn import metrics # type: ignore
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis # type: ignore
from sklearn.ensemble import AdaBoostClassifier # type: ignore
from sklearn.ensemble import GradientBoostingClassifier # type: ignore
from sklearn.neighbors import KNeighborsClassifier # type: ignore # type: ignore
from sklearn import tree # type: ignore
from sklearn.ensemble import RandomForestClassifier # type: ignore # type: ignore
from sklearn.ensemble import BaggingClassifier # type: ignore # type: ignore
from sklearn.tree import DecisionTreeClassifier # type: ignore
from collections import Counter

In [3]:
df=pd.read_csv("German Credit Dataset.csv")

In [4]:
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [5]:
df.isnull().sum()

checking_balance        0
months_loan_duration    0
credit_history          0
purpose                 0
amount                  0
savings_balance         0
employment_duration     0
percent_of_income       0
years_at_residence      0
age                     0
other_credit            0
housing                 0
existing_loans_count    0
job                     0
dependents              0
phone                   0
default                 0
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
dtypes: int64(7), object(9)
memory usage: 125.1+ KB

In [29]:
Cat=[]
Num=[]

In [36]:
for i in df.drop('default',axis=1,inplace=False).columns:
    if(df[i].dtype == 'object'):
        Cat.append(i)
    else :
        Num.append(i)

KeyError: "['default'] not found in axis"

In [ ]:
Cat

In [ ]:
Num

In [ ]:
for i in Cat:
    print()

Test_Train Split

In [10]:
x=df.drop("default",axis=1)
y=df.pop("default")

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=1)

In [23]:
x_train.shape

(750, 16)

In [24]:
x_test.shape

(250, 16)

In [25]:
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no

Building DT Model

In [26]:
dt_model=DecisionTreeClassifier()

In [27]:
dt_model.fit(x_train,y_train)

ValueError: could not convert string to float: 'unknown'